.timezone-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
  }
  
  .drag-handle {
    cursor: move;
    margin-right: 10px;
  }
  
  .timezone-info {
    display: flex;
    align-items: center;
  }
  
  .timezone-info span {
    margin-right: 10px;
  }